.carousel .control-dots .dot {
    width: 40px;
    height: 6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.carousel .control-disabled.control-arrow {
    opacity: 1;
    width: 100px;
    /* background: black; */
}
.carousel.carousel-slider .control-arrow,
.carousel.carousel-slider .control-arrow:hover {
    width: 100px;
    opacity: 1;
    background: none;
}

.carousel .control-prev.control-arrow:before {
    border-right: none;
}
.carousel .control-next.control-arrow:before {
    border-left: none;
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
    /* margin: 9px 5px;*/
    width: 50px;
    height: 50px;
    border-top: none;
    border-bottom: none;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    content: "→";
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.carousel.carousel-slider .control-arrow:hover :before {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.control-prev {
    transform: scale(-1, 1);
}
