/*Browser Reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    /* user-select: none; */
    height: 100%;
    color: var(--color-black);
}

a {
    color: var(--color-primary-light);
}


::selection {
    background: #000000; /* WebKit/Blink Browsers */
    color: #e6004e;
  }
  ::-moz-selection {
    background: #000000; /* Gecko Browsers */
    color: #e6004e;

  }
/* This media query only had a wrong max width. Please delete me if there is no other use for me!
@media  (min-width: 834px) {
  body {
  }
} */
